body {
  background-color: rgb(99, 84, 84);
}

.navBar {
  padding: 0 5%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #858693;
  border-bottom: 1px hsl(0, 0%, 90%) solid;
  margin-bottom: 4rem;
}

.navBar h1 {
  font-size: 27px;
  font-weight: 600;
  font-family: math, sans-serif;
}

ul {
  display: flex;
  list-style: none;
  gap: 6%;
  font-family: math, sans-serif;
}

/* Quote styling */
.quote-container {
  display: flex;
  margin-top: 200px;
  margin-right: -21%;
  float: right;
  transform: translate(-50%, -50%);
  width: 40%;
  font-family: cursive;
  gap: 10px;
}

p {
  font-family: fantasy;
  font-size: 54px;
}

/* Home Page */
.homePage {
  padding: 0 5% 4rem 5%;
}

.homePage h2 {
  margin-bottom: 2rem;
  font-size: 18px;
}

.homePage p {
  margin-bottom: 1rem;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.7;
}

.headingcalc {
  font-size: 30px;
  font-family: cursive;
  font-weight: bold;
  left: -150%;
  position: relative;
}
