body {
  background-color: rgb(99, 84, 84);
}

.navBar {
  padding: 0 5%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #858693;
  border-bottom: 1px hsl(0, 0%, 90%) solid;
  margin-bottom: 4rem;
}

.navBar h1 {
  font-size: 27px;
  font-weight: 600;
  font-family: math, sans-serif;
}

.navbar-links-cont button {
  display: none;
}

.menuNav {
  display: flex;
}

.menuNav li {
  list-style: none;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: 500;
}

.menuNav li:not(:last-child) {
  border-right: 1px #0166ff solid;
}

.menuNav li a {
  text-decoration: none;
  color: #0166ff;
  cursor: pointer;
  font-family: cursive;
}

.menuNav li a:hover {
  color: goldenrod;
}

ul {
  display: flex;
  list-style: none;
  gap: 6%;
  font-family: math, sans-serif;
}

/* Quote styling */
.quote-container {
  display: flex;
  margin-top: 200px;
  margin-right: -21%;
  float: right;
  transform: translate(-50%, -50%);
  width: 50%;
  font-family: cursive;
  gap: 10px;
}

.author {
  font-weight: 600;
  color: rgb(245, 83, 8);
}

.quote-button {
  position: relative;
  width: fit-content;
  height: max-content;
  background-color: rgb(22, 133, 197);
  border-radius: 3px;
  border: 1px solid black;
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0, 0, 0, 0.04));
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.05), inset 0 1px 0 0 rgba(255, 255, 255, 0.45), inset 0 -1px 0 0 rgba(255, 255, 255, 0.15), 0 1px 0 0 rgba(255, 255, 255, 0.15);
  text-shadow: 0 1px rgba(255, 255, 255, 0.4);
  padding: 5px 10px;
  margin-top: 30px;
  margin-bottom: 100px;
  font-family: cursive;
}
